h1 {
  color: blue;
}

#board {
  background-color: green;
  height: 300px;
  width: 300px;
}

.row {
  height: 80px;
  margin: 5px;
}
.white {
  background-color: grey;
  height: 80px;
  width: 80px;
  padding: 5px;
}

.blue {
  background-color: blue;
  margin: 5;
}

.red {
  background-color: red;
  margin: 5;
}
