.board {
  background-color: grey;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
